@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasItems(Model.Fellesbestemmelser))
{
    var fellesbestemmelser = Model.Fellesbestemmelser.OrderBy(bestemmelse => bestemmelse.Sorteringsrekkefølge);

    @foreach (var bestemmelse in fellesbestemmelser)
    {
        <div class="section">
            @RenderHeader(bestemmelse.Nummerering, bestemmelse.Overskrift)

            @if (HasValue(bestemmelse.Tekst?.TekstInnhold))
            {
                <p class="text-content">@Raw(bestemmelse.Tekst.TekstInnhold)</p>
            }
        </div>
    }
}