@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasValue(Model.Hensynsbestemmelser))
{
    var hensynsbestemmelser = Model.Hensynsbestemmelser.OrderBy(bestemmelse => bestemmelse.Sorteringsrekkefølge);

    @foreach (var bestemmelse in hensynsbestemmelser)
    {
        <div class="section">
            @RenderHeader(bestemmelse.Nummerering, bestemmelse.Overskrift)

            @if (HasValue(bestemmelse.Tekst?.TekstInnhold))
            {
                <p class="text-content">@Raw(bestemmelse.Tekst.TekstInnhold)</p>
            }

            @if (HasValue(bestemmelse.Hensynskategori?.Kodebeskrivelse) || HasValue(bestemmelse.HensynSonenavn))
            {
                <div class="more-info">
                    @if (HasValue(bestemmelse.Hensynskategori?.Kodebeskrivelse))
                    {
                        <div class="row">
                            <div class="col-4">Hensynskategori:</div>
                            <div class="col-8">@bestemmelse.Hensynskategori.Kodebeskrivelse</div>
                        </div>
                    }

                    @if (HasValue(bestemmelse.HensynSonenavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder hensynssoner:</div>
                            <div class="col-8">@string.Join(", ", bestemmelse.HensynSonenavn)</div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}