@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (HasItems(Model.KravOmDetaljregulering))
{
    <h2>Krav om detaljregulering</h2>

    @foreach (var krav in Model.KravOmDetaljregulering)
    {
        <div class="section">
            @if (HasItems(krav.Feltnavn) || HasItems(krav.BestemmelseOmr책denavn) || HasItems(krav.HensynSonenavn))
            {
                <div class="more-info">
                    @if (HasItems(krav.Feltnavn))
                    {
                        <div class="row">
                            <div class="col-3">Felter:</div>
                            <div class="col-9">@string.Join(", ", krav.Feltnavn)</div>
                        </div>
                    }

                    @if (HasItems(krav.BestemmelseOmr책denavn))
                    {
                        <div class="row">
                            <div class="col-3">Bestemmelsesomr책der:</div>
                            <div class="col-9">@string.Join(", ", krav.BestemmelseOmr책denavn)</div>
                        </div>
                    }

                    @if (HasItems(krav.HensynSonenavn))
                    {
                        <div class="row">
                            <div class="col-3">Hensynssoner:</div>
                            <div class="col-9">@string.Join(", ", krav.HensynSonenavn)</div>
                        </div>
                    }
                </div>
            }

            @if (HasValue(krav.KravTilDetaljreguleringen?.TekstInnhold))
            {
                <p class="text-content">@Raw(krav.KravTilDetaljreguleringen.TekstInnhold)</p>
            }
        </div>
    }
}