@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@model Reguleringsplanbestemmelser

@if (HasValue(Model.KravOmDetaljregulering))
{
    <h2>Krav om detaljregulering</h2>

    @foreach (var krav in Model.KravOmDetaljregulering)
    {
        <div class="section">
            @if (HasValue(krav.Feltnavn) || HasValue(krav.BestemmelseOmr책denavn) || HasValue(krav.HensynSonenavn))
            {
                <div class="more-info">
                    @if (HasValue(krav.Feltnavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder felter:</div>
                            <div class="col-8">@string.Join(", ", krav.Feltnavn)</div>
                        </div>
                    }

                    @if (HasValue(krav.BestemmelseOmr책denavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder bestemmelsesomr책der:</div>
                            <div class="col-8">@string.Join(", ", krav.BestemmelseOmr책denavn)</div>
                        </div>
                    }

                    @if (HasValue(krav.HensynSonenavn))
                    {
                        <div class="row">
                            <div class="col-4">Gjelder hensynssoner:</div>
                            <div class="col-8">@string.Join(", ", krav.HensynSonenavn)</div>
                        </div>
                    }
                </div>
            }

            @if (HasValue(krav.KravTilDetaljreguleringen?.TekstInnhold))
            {
                <p class="text-content">@Html.Raw(krav.KravTilDetaljreguleringen.TekstInnhold)</p>
            }
        </div>
    }
}