@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>

@if (Model.Planhensikt != null)
{
    <div class="section">
        @RenderHeader(Model.Planhensikt.Nummerering, Model.Planhensikt.Overskrift)

        @if (HasValue(Model.Planhensikt.Tekst?.TekstInnhold))
        {
            <p class="text-content">@Raw(Model.Planhensikt.Tekst.TekstInnhold)</p>
        }
    </div>
}