@using DiBK.RpbEditor.Application.Models.DTO
@using DiBK.RpbEditor.Application.Helpers
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@model Reguleringsplanbestemmelser

@if (Model.Planhensikt != null)
{
    <div class="section">
        @Html.RenderHeader(Model.Planhensikt.Nummerering, Model.Planhensikt.Overskrift)

        @if (HasValue(Model.Planhensikt.Tekst?.TekstInnhold))
        {
            <p class="text-content">@Html.Raw(Model.Planhensikt.Tekst.TekstInnhold)</p>
        }
    </div>
}