@using DiBK.RpbEditor.Application.Models.DTO
@using static DiBK.RpbEditor.API.Application.Helpers.TemplatingHelpers
@using RazorLight
@inherits TemplatePage<Reguleringsplanbestemmelser>
<!doctype html>
<html lang="no">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Reguleringsplan &ndash; @Model.Plantype.Kodebeskrivelse?.ToLower() | @Model.Plannavn</title>

    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="paper.css" />
</head>
<body class="A4">
    @{
        var plannavn = HasValue(Model.Plannavn) ? Model.Plannavn : "<Ikke angitt>";
        var planId = HasValue(Model.NasjonalArealplanId.AdministrativEnhet.Kommunenummer) && HasValue(Model.NasjonalArealplanId.Planidentifikasjon) ?
            $"{Model.NasjonalArealplanId.AdministrativEnhet.Kommunenummer}_{Model.NasjonalArealplanId.Planidentifikasjon}" :
            "<Ikke angitt>";
    }
    <div class="sheet">
        <div class="header">
            <div class="title">
                <span class="type">Reguleringsplan &ndash; @Model.Plantype.Kodebeskrivelse?.ToLower()</span>
                <span>(jf. plan- og bygningslovens (pbl) kap. 12)</span>
            </div>
            <div class="info">
                <span class="name-and-id">@plannavn (@planId)</span>
                <span>@RenderVersion(Model.Versjonsnummer, Model.Versjonsdato)</span>
            </div>
        </div>

        <h1>
            Reguleringsplanbestemmelser <span>(pbl ยง12-7)</span>
        </h1>

        @{ await IncludeAsync("Planbestemmelser._Planhensikt.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._Fellesbestemmelser.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._Formaalsbestemmelser.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._Hensynsbestemmelser.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._Omraadebestemmelser.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._Rekkefoelgebestemmelser.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._KravOmDetaljregulering.cshtml", Model); }

        @{ await IncludeAsync("Planbestemmelser._JuridiskeDokumenter.cshtml", Model); }
    </div>
</body>
</html>
